$primary-text: #444;
$secondary-text: #777;
$credit-text: #AAA;
$white: #FFF;
$orange: #E27730;
$yellow: #FDB82C;
$blue: #036AAB;
$background: #F8F8F8;
$badge-bg: #BBB;
$secondary-btn-border: #DDD;
$video-thumb-shadow: 0 10px 50px 0 #00000026;
