$content-width: 60rem;
$full-width: 100%;
$feature-row-gap: 3.188rem;
$feature-col-gap: 1.25rem;
$feature-h3-width: 15.625rem;
$feature-column-spacer: 3.063rem;
$break-point-mobile: 450px;
$content-max-width: 80%;
$mobile-max-width: 85%;
