$arvo: 'Arvo', serif;
$lato: 'Lato', sans-serif;
$h1: clamp(44px, 4vw, 48px);
$h2: 32px;
$h3: 24px;
$content: 18px;
$content-big: 20px;
$content-small: 16px;
$credit: 14px;
$badge: 10px;
$h1-line-height: 59.27px;
$h2-line-height: 38px;
$h3-line-height: 30px;
$content-line-height: 28px;
$content-small-line-height: 24px;
$badge-line-height: 12.21px;
$normal: 400;
$bold: 700;
