.grid {
	.row {
		.col {
			&-spacer {
				margin-top: $feature-column-spacer;
			}
		}
	}

	.col-divider {
		width: 1px;
		background-color: $secondary-btn-border;
	}

	.row-divider {
		width: 100%;
		height: 1px;
		background-color: $secondary-btn-border;
	}
}
