.icon-eye {
	background-image: url('../images/icons/eye.svg');
}

.icon-brush {
	background-image: url('../images/icons/paint-brush.svg');
}

.icon-smile-beam {
	background-image: url('../images/icons/smile-beam.svg');
}

.icon-check-circle {
	background-image: url('../images/icons/check-circle.svg');
}

.icon-image {
	background-image: url('../images/icons/image.svg');
}

.icon-swatchbook {
	background-image: url('../images/icons/swatchbook.svg');
}

.icon-envelope {
	background-image: url('../images/icons/envelope.svg');
}

.icon-poll {
	background-image: url('../images/icons/poll.svg');
}

.icon-id-badge {
	background-image: url('../images/icons/id-badge.svg');
}
